<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    
    <form action="/scan/" method="POST">
        {% csrf_token %}
        <label for="urls"></label>
        <textarea name="urls" id="urls" cols="30" rows="10">
https://google.com
https://ammardab3an99.github.io/
        </textarea>
        <button type="submit">submit</button>
    </form>

</body>
</html>
